# Introduction SQL big query

In [9]:
import  google.cloud
import sys    
sys.path.insert(0, 'lib')

In [18]:
pwd

'/Users/ledionanishani/Documents/BigQuey_SQL'

In [19]:
from google.cloud import bigquery
client = bigquery.Client.from_service_account_json("./My Project 61217-9183df10355d.json")

In [21]:
QUERY=(
'SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
'WHERE state = "TX"'
'LIMIT 100')

In [22]:
query_job = client.query(QUERY)
rows = query_job.result()

for row in rows:
    print(row.name)

Frances
Alice
Beatrice
Ella
Gertrude
Josephine
Lula
Blanche
Marjorie
Christine
Margarita
Alta
Sara
Naomi
Sofia
Andrea
Delfina
Dominga
Elnora
Adele
Rafaela
Dixie
Luisa
Bess
Ernestine
Lorine
Patsy
Cecelia
Enriqueta
Lucinda
Alyce
Oneta
Apolonia
Gloria
Rhoda
Buna
Maye
Pansy
Gladys
Maria
Helen
Velma
Clara
Anna
Evelyn
Rosa
Mae
Bernice
Stella
Vivian
Mable
Maggie
Betty
Guadalupe
Lorene
Susie
Sadie
Erma
Verna
Amelia
Estelle
Nell
Margie
Celia
Lessie
Eloise
Millie
Olga
Letha
Rachel
Luz
Gussie
Sylvia
Aline
Barbara
Iris
Leila
Mozelle
Simona
Catalina
Hester
Willia
Allene
Avis
George
Isabella
Polly
Syble
Teodora
Lennie
Ricarda
Valerie
Frances
Gertrude
Sarah
Rosa
Lucy
Nora
Nettie
Odessa

# The tutorial on Kaggle hacker news dataset
https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery

In [23]:
from google.cloud import bigquery
client = bigquery.Client.from_service_account_json("./My Project 61217-9183df10355d.json")

In [26]:
dataset_ref = client.dataset('hacker_news', project = 'bigquery-public-data')
# API request -fetch dataset
dataset = client.get_dataset(dataset_ref)

In [31]:
# list all the tables in the hacker news dataset
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [33]:
#construct a reference to the 'full' table
table_ref = dataset_ref.table('full')
table = client.get_table(table_ref)

In [34]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [37]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,Ada Programming/Generics,http://en.wikibooks.org/wiki/Ada_Programming/G...,None,None,dryicerx,1.0,1261006114,2009-12-16 23:28:34+00:00,story,999982,NaN,0.0,None,None
1,None,None,HTML5 Rocks content is being upstreamed to WPD...,None,paulirish,NaN,1349740569,2012-10-08 23:56:09+00:00,comment,4629256,4628002.0,NaN,None,None
2,None,None,Okay.,None,DiabloD3,NaN,1460147455,2016-04-08 20:30:55+00:00,comment,11457670,11455850.0,NaN,None,None
3,None,None,I think the problem lies in the &#x27;.js.erb&...,None,boundlessdreamz,NaN,1436523211,2015-07-10 10:13:31+00:00,comment,9863115,9862328.0,NaN,None,None
4,None,None,Good examples! I regret that mainstream gaming...,None,the_af,NaN,1445971414,2015-10-27 18:43:34+00:00,comment,10460191,10459931.0,NaN,None,None

In [44]:
# Preview the first entries of the 'by' column
client.list_rows(table, selected_fields=table.schema[4:5], max_results=5).to_dataframe()

                by
0         dryicerx
1        paulirish
2         DiabloD3
3  boundlessdreamz
4           the_af